# Prerequisites
*.d

# Compiled Object files
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dll

# Fortran module files

# Compiled Static libraries
*.a
*.lib

# Executables
*.elf
**/bin/
