HOST = i686-elf

AR = $(HOST)-ar
AS = $(HOST)-as
CC = $(HOST)-g++
C  = $(HOST)-gcc
MAKE = make PWD=$(PWD)

PREFIX = /usr
EXEC_PREFIX = $(PREFIX)
BOOTDIR = /boot
LIBDIR = $(EXEC_PREFIX)/lib
INCLUDEDIR = $(PREFIX)/include
SYSROOT = $(PWD)/sysroot

CFLAG = --sysroot=$(SYSROOT) -isystem=$(INCLUDEDIR) -O2 -Wall -Wextra -ffreestanding
CPPFLAG = -fno-exceptions -fno-rtti --std=c++11 
