HOST = i686-elf
MAKE = make CONFIG=$(shell pwd)/make.config
TMP_DIR = $(BIN_DIR)/tmp

AR  = $(HOST)-ar
AS  = $(HOST)-as
GCC = $(HOST)-gcc

PREFIX = /usr
EXEC_PREFIX = $PREFIX
BOOTDIR = /boot
LIBDIR = $EXEC_PREFIX/lib
INCLUDEDIR = $PREFIX/include
SYSROOT = /home/Monad/Monadic/sysroot

CFLAG = -O2 -Wall -Wextra -std=gnu99 -ffreestanding --sysroot=$(SYSROOT)
CPPFLAG = 
