HOST = i686-elf

AR  = $(HOST)-ar
AS  = $(HOST)-as
GCC = $(HOST)-gcc

PREFIX = /usr
EXEC_PREFIX = $PREFIX
BOOTDIR = /boot
LIBDIR = $EXEC_PREFIX/lib
INCLUDEDIR = $PREFIX/include
SYSROOT = $(PWD)/sysroot
BIN_DIR = $(PWD)/bin

CFLAG = -O2 -Wall -Wextra -std=gnu99 -ffreestanding --sysroot=$(SYSROOT)
CPPFLAG = 
